<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Me</title>
  <link rel="stylesheet" href="static/TAContactMe.module.css">
  <!-- Make sure to include FontAwesome CSS here -->
</head>
<body>

  <footer id="contact-me" class="contact">
    <div class="container">
      <div class="footer-top">
        <div class="banner">{Place a banner here. The banner is an animation slideshow.}</div>
        
        <div class="info-container"> 
          <!-- Contact Information Section -->
          <div class="contact-info">
            <h2>Contact Info</h2>
            <p>Email: <a href="mailto:info@evmax.com">info@evmax.com</a></p>
            <p>Phone: +1 (999) 999-9999</p>
          </div>

          <!--<div class="location-container" -->
            <div class="location-info">
              <div class="location-text">
                <h2>Location</h2>
                <p>Engineering Building Room 337</p>
                <p>One Washington Square</p>
                <p>San Jose, CA 95192-0180</p>
              </div>
              
              <div class="map-container">
                <a href="https://maps.app.goo.gl/btjKgvbnSNouDvQT6" target="_blank">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3172.240876574952!2d-121.88600214984808!3d37.3368056655613!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fccbf9c49ae69%3A0x33714fc7762af269!2sCharles%20W.%20Davidson%20College%20of%20Engineering!5e0!3m2!1sen!2sus!4v1710748144249!5m2!1sen!2sus" 
                    width="300" 
                    height="250" 
                    style="border:0;" 
                    allowfullscreen="" 
                    loading="lazy" 
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                </a>
              </div>
            </div>
            
          <!-- </div> -->
          <!-- Newsletter Section -->
          <div class="newsletter">
            <h2>Newsletter</h2>
            <p>Subscribe to get the latest news update</p>
            <form action="#" method="POST">
              <input type="email" name="email" placeholder="Your Email">
              <button type="submit">Subscribe
                <i class="fas fa-arrow-right"></i> <!-- FontAwesome icon -->
              </button>
            </form>
          </div>
        </div>
        <!-- Social Media Links -->
        <div class="social-media">
          <h2>Follow Us</h2>
          <div class="icons">
            <!-- Insert FontAwesome Icons here -->
            <a href="#" class="facebook">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a href="#" class="instagram">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#" class="pinterest">
              <i class="fab fa-pinterest-square"></i>
            </a>
            <a href="#" class="twitter">
              <i class="fab fa-twitter-square"></i>
            </a>
          </div>
        </div>
      
